@mixin cta(
  $background:
    linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%),
  $color: #23212a
) {
  font-weight: 600;
  line-height: 1.375rem;
  color: $color;
  padding: 1.1875rem 3rem;
  position: relative;
  overflow: hidden;
  background: $background;
}

@mixin container(
  $padding: 0 1.25rem,
  $margin: 0 auto,
  $maxWidth: var(--headerMaxContent)
) {
  padding: $padding;
  @media (min-width: 1200px) {
    max-width: $maxWidth;
    padding-left: 0;
    padding-right: 0;
    margin: $margin;
  }
}

@mixin textContainer($padding: 0 1.25rem, $margin: 0 auto) {
  padding: $padding;
  margin: $margin;
  @media (min-width: 1200px) {
    max-width: var(--headerMaxContent);
  }
}

@mixin topper(
  $background:
    linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%)
) {
  display: inline-flex;
  min-height: 1.1875rem;
  gap: 0.5625rem;
  padding: 0.1875rem 0.5625rem;
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  background: rgba(4, 28, 55, 0.5);
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
  &::before {
    content: "";
    position: absolute;
    left: -0.25rem;
    display: inline-block;
    background: $background;
    width: 0.25rem;
    height: 1.4375rem;
  }
}

@mixin blob($background: white) {
  content: "";
  top: 0;
  right: -32px;
  position: absolute;
  overflow: hidden;
  width: 68px;
  height: 105.09px;
  background: $background;
  transform: rotate(23.72deg);
  border-top-left-radius: 260px;
  transition: all 0.35s ease-in-out;
}

@mixin title($margin: 0 0 2.1875rem 0) {
  color: var(--primary-font-color);
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 2.5625rem;
  font-family: "Rubik", sans-serif;
  margin: $margin;
}

@mixin paragraph($margin: 0 0 2rem 0, $color: var(--secondary-font-color)) {
  font-size: 1rem;
  color: $color;
  line-height: 1.5rem;
  font-weight: 500;
  margin: $margin;
}
