* {
  --primary-color: #ffbe34;
  --secondary-color: #091242;
  --tertiary-color: #f4f4f4;
  --primary-font-color: #1c1f35;
  --secondary-font-color: #666c89;
  --gradient: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 50.75%,
    #ffd7a6 102.71%
  );
  --headerMaxContent: 75rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  all: unset;
  cursor: pointer; }

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v26-latin-regular.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v26-latin-500.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/rubik-v26-latin-600.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/rubik-v26-latin-700.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/krub-v9-latin-regular.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/krub-v9-latin-500.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/krub-v9-latin-600.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/krub-v9-latin-700.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: clamp(100%, 0.9vw, 300%); } }
.header__topbar {
  background-color: var(--secondary-color); }
.header__topbar--content {
  max-width: var(--headerMaxContent);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0;
  gap: 1rem; }
.header__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff; }
  .header__contact__item {
    display: flex;
    gap: 1rem; }
  .header__contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.1875rem; }

.nav {
  background: rgba(9, 18, 66, 0.25);
  position: absolute;
  width: 100%; }
  .nav__content {
    max-width: var(--headerMaxContent);
    margin: 0 auto;
    position: absolute;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: var(--secondary-color);
    top: 3.6875rem;
    padding-top: 0;
    height: 0;
    margin-top: 1.2rem;
    transition: height 0.3s, padding-top 0.3s, top 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .nav__content.open {
      height: 24.25rem;
      z-index: 100; }
  .nav__pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
    .nav__pages__item {
      font-weight: 500;
      height: 100%;
      line-height: 1.1875rem; }
    .nav__pages__link {
      height: 100%;
      display: flex;
      align-items: center;
      color: white; }
      .nav__pages__link.active {
        border-bottom: 1px solid white; }
  .nav__socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem; }
  .nav__cta {
    display: inline-block;
    padding: 1.75rem 3.25rem;
    width: 13.5rem;
    height: 4.875rem;
    background: #ffffff;
    color: #23212a;
    line-height: 1.375rem;
    font-weight: 600; }
    .nav__cta:last-child {
      display: block;
      margin: 0 auto; }
  .nav__hamburger {
    display: block;
    margin: 0 auto; }
  .nav__mobile__bar {
    display: flex; }
  .nav__socials--tablet {
    display: none; }

.home {
  background-image: url("/assets/imgs/Ship.webp");
  min-height: calc(100vh - 9.6875rem);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: -1; }

@media only screen and (min-width: 768px) {
  .nav__hamburger {
    margin: 0 0 0 auto;
    padding-right: 1rem; }
  .nav__socials--tablet {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 1rem; } }
@media only screen and (min-width: 1024px) {
  .header__contact {
    flex-direction: row; }
  .header__topbar--content {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.875rem 1.25rem; }
  .header__contact {
    gap: 2.4375rem; }

  .nav__hamburger {
    display: none; }
  .nav__right {
    display: flex; }
  .nav__socials {
    margin-bottom: 0;
    align-items: center;
    margin-right: 3.125rem; }
  .nav__socials--tablet {
    display: none; }
  .nav__mobile__bar .nav__cta {
    display: none; }
  .nav__content {
    height: 4.875rem;
    flex-direction: row;
    position: unset;
    background: unset;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem; }
  .nav__pages {
    flex-direction: row;
    gap: 1.875rem; }
    .nav__pages__item:not(:first-child) ::before {
      content: "";
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding-left: 1.875rem;
      height: 1.1875rem; } }
@media only screen and (min-width: 1300px) {
  .header__topbar--content {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.875rem 0rem; }
  .header__contact {
    gap: 2.4375rem; }

  .nav__content {
    padding: 0; } }

/*# sourceMappingURL=home.css.map */
