* {
  --primary-color: #ffbe34;
  --secondary-color: #091242;
  --tertiary-color: #f4f4f4;
  --primary-font-color: #1c1f35;
  --secondary-font-color: #666c89;
  --gradient: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 50.75%,
    #ffd7a6 102.71%
  );
  --headerMaxContent: 75rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

button {
  all: unset;
  cursor: pointer; }

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v26-latin-regular.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v26-latin-500.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/rubik-v26-latin-600.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* rubik-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/rubik-v26-latin-700.woff2") format("woff2"), url("../assets/fonts/rubik-v26-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/krub-v9-latin-regular.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/krub-v9-latin-500.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* krub-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Krub";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/krub-v9-latin-600.woff2") format("woff2"), url("../assets/fonts/krub-v9-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* league-spartan-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/league-spartan-v10-latin-regular.woff2") format("woff2"), url("../assets/fonts/league-spartan-v10-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: clamp(100%, 0.9vw, 300%); } }
.header {
  background-color: var(--secondary-color); }
  .header__logo {
    width: 13.125rem; }
  .header__icon {
    width: 3.9735rem; }
  .header__topbar {
    max-width: var(--headerMaxContent);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;
    gap: 1rem; }
  .header__contact, .contact__info, .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff; }
  .header__item, .contact__item {
    display: flex;
    gap: 1rem; }
  .header__info, .contact__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.1875rem; }

.nav {
  background: rgba(9, 18, 66, 0.25);
  position: absolute;
  z-index: 1;
  width: 100%; }
  .nav__icon {
    width: 1.25rem;
    height: 1.25rem; }
  .nav__content {
    max-width: var(--headerMaxContent);
    margin: 0 auto;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: var(--secondary-color);
    top: 3.6875rem;
    padding-top: 0;
    height: 0;
    transition: height 0.3s, padding-top 0.3s, top 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .nav__content.open {
      height: 20.25rem;
      z-index: 100;
      padding-bottom: 1rem;
      overflow: visible; }
  .nav__dropdown--icon {
    transition: 0.2s;
    margin-left: 0.3125rem;
    width: 0.625rem;
    height: 0.625rem; }
  .nav__pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
    gap: 1rem; }
  .nav__page {
    font-weight: 500;
    line-height: 1.1875rem; }
  .nav__page--dropdown {
    position: relative;
    display: flex;
    flex-direction: column; }
  .nav__right {
    padding-bottom: 1rem;
    background: var(--secondary-color); }
  .nav__dropdown--menu {
    display: none;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    z-index: 1;
    top: 4.875rem;
    left: 0;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
    background: var(--secondary-color); }
  .nav__dropdown--menu.open {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    color: white; }
    .nav__link.active {
      border-bottom: 1px solid white; }
  .nav__socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem; }
  .nav__cta {
    display: inline-block;
    padding: 1.75rem 3.25rem;
    width: 13.5rem;
    height: 4.875rem;
    background: #ffffff;
    color: #23212a;
    line-height: 1.375rem;
    font-weight: 600; }
    .nav__cta:last-child {
      display: block;
      margin: 0 auto; }
  .nav__hamburger {
    display: block;
    margin: 0 auto; }
  .nav__mobile {
    display: flex; }
  .nav__socials--tablet {
    display: none; }

.home {
  min-height: calc(100vh - 9.6875rem);
  background-size: cover;
  background-position: 50% 50%; }
  .home__hover {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .home__blob {
    content: "";
    top: 0;
    right: -2rem;
    position: absolute;
    overflow: hidden;
    width: 4.25rem;
    height: 6.5625rem;
    background: white;
    transform: rotate(23.72deg);
    border-top-left-radius: 260px;
    transition: all 0.35s ease-in-out; }
  .home__container {
    padding: 10.8125rem 1.25rem;
    color: white; }
    @media (min-width: 1200px) {
      .home__container {
        max-width: var(--headerMaxContent);
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto; } }
  .home__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem; }
    .home__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .home__title {
    font-size: clamp(2.125rem, 6vw, 3.75rem);
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    max-width: 34.625rem;
    margin-bottom: 0.375rem; }
  .home__paragraph {
    max-width: 34.625rem;
    margin-bottom: 2.6875rem; }
  .home__cta, .footer__cta {
    font-weight: 600;
    line-height: 1.375rem;
    color: #23212a;
    padding: 1.1875rem 3rem;
    position: absolute;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%); }
    .home__cta:hover .home__blob, .footer__cta:hover .home__blob {
      right: 0;
      width: 100%;
      height: 100%;
      transform: rotate(0);
      border-top-left-radius: 0; }
    .home__cta:hover .home__text, .footer__cta:hover .home__text {
      position: relative;
      z-index: 1; }

.services {
  padding: 6rem 1.25rem 7.5625rem 1.25rem;
  display: flex;
  flex-flow: column nowrap; }
  @media (min-width: 1200px) {
    .services {
      max-width: var(--headerMaxContent);
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto; } }
  .services__boat {
    width: 3.25rem; }
  .services__drawers {
    width: 3.5625rem; }
  .services__airplane {
    width: 4.75rem; }
  .services__truck {
    width: 3.875rem; }
  .services__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    background: rgba(232, 232, 232, 0.5); }
    .services__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .services__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0;
    max-width: 18.375rem; }
  .services__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem; }
  .services__service {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services__service * {
      margin-bottom: 0.8125rem; }
  .services__subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    color: var(--primary-font-color);
    line-height: 1.875rem;
    text-align: center; }
  .services__paragraph {
    font-size: 1rem;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0 0 0.8125rem 0;
    text-align: center; }

.about__icon {
  width: 3.625rem;
  height: 3.625rem; }
.about__background {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  vertical-align: bottom; }
.about__content {
  padding: 0 1.25rem;
  margin: -5rem auto 0 auto;
  position: relative; }
  @media (min-width: 1200px) {
    .about__content {
      max-width: var(--headerMaxContent);
      padding-left: 0;
      padding-right: 0;
      margin: -5rem auto 0 auto; } }
.about__container {
  background: white;
  padding: 1.875rem 1.25rem 0 1.25rem;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .about__container {
      max-width: var(--headerMaxContent); } }
.about__left * {
  margin-bottom: 0.75rem; }
.about__topper {
  display: inline-flex;
  min-height: 1.1875rem;
  gap: 0.5625rem;
  padding: 0.1875rem 0.5625rem;
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  background: rgba(4, 28, 55, 0.5);
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
  margin-bottom: 0.75rem;
  background: rgba(232, 232, 232, 0.5); }
  .about__topper::before {
    content: "";
    position: absolute;
    left: -0.25rem;
    display: inline-block;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
    width: 0.25rem;
    height: 1.4375rem; }
.about__title {
  color: var(--primary-font-color);
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 2.5625rem;
  font-family: "Rubik", sans-serif;
  margin: 0 0 0.75rem 0;
  max-width: 29.5rem; }
.about__paragraph {
  font-weight: 500;
  color: var(--secondary-font-color);
  line-height: 1.5rem;
  max-width: 29.5rem; }
  .about__paragraph:last-of-type {
    margin-bottom: 1.5625rem; }
.about__feature {
  display: flex;
  align-items: center;
  gap: 1rem; }
.about__subtitle {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: var(--primary-font-color); }
.about__image {
  max-width: 100%;
  height: auto;
  width: 28.8125rem; }
  .about__image--over {
    width: 100%; }
.about__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem; }
.about__counter {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 3.6875rem;
  font-family: "Rubik", sans-serif;
  color: var(--primary-font-color); }
.about__packages, .about__clients {
  margin-bottom: 0.8125rem; }
.about__packages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
.about__clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
.about__description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--primary-font-color);
  font-family: "League Spartan", sans-serif; }
  .about__description::before {
    content: "";
    display: block;
    margin: 1rem auto;
    width: 1.0625rem;
    height: 1.0625rem;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%); }
.about__image--over {
  margin-bottom: 0.8125rem; }
.about__content {
  padding-bottom: 6.0625rem; }

.project {
  position: relative; }
  .project__wrapper {
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1200px) {
      .project__wrapper {
        max-width: 87%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto; } }
  .project__background {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 50%;
    min-height: 25rem;
    z-index: -1;
    background: linear-gradient(95deg, #ffb629 -1.19%, #ffda56 57.78%, #ffd7a6 115.08%); }
  .project__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 2.1875rem 0;
    text-align: center; }
  .project__container {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-bottom: 4.0625rem; }
  .project__cta {
    font-weight: 600;
    line-height: 1.375rem;
    color: #fff;
    padding: 1.1875rem 3rem;
    position: relative;
    overflow: hidden;
    background: var(--secondary-color); }
    .project__cta:hover .project__blob {
      right: 0;
      width: 100%;
      height: 100%;
      transform: rotate(0);
      border-top-left-radius: 0; }
  .project__work {
    position: relative;
    z-index: 1; }
  .project__image {
    width: 20rem;
    height: auto; }
  .project__card {
    position: relative; }
  .project__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1.5625rem;
    padding-bottom: 1.25rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
    background-blend-mode: multiply; }
  .project__subtitle {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500; }
  .project__description {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffb629; }
  .project__hover {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .project__blob {
    content: "";
    top: 0;
    right: -32px;
    position: absolute;
    overflow: hidden;
    width: 68px;
    height: 105.09px;
    background: #1f2a69;
    transform: rotate(23.72deg);
    border-top-left-radius: 260px;
    transition: all 0.35s ease-in-out; }

.testimonial {
  padding: 17.125rem 1.25rem 6.3125rem 1.25rem; }
  @media (min-width: 1200px) {
    .testimonial {
      max-width: var(--headerMaxContent);
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto; } }
  .testimonial__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5rem; }
  .testimonial__users {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; }
    .testimonial__users::-webkit-scrollbar {
      display: none; }
  .testimonial__quote {
    display: none; }
  .testimonial__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    background: rgba(232, 232, 232, 0.5); }
    .testimonial__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .testimonial__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 1.5rem 0; }
  .testimonial__review {
    padding: 1.875rem 1.25rem;
    min-width: 100%;
    background: #f4f4f4; }
  .testimonial__name {
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--secondary-color); }
  .testimonial__role {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary-color); }
  .testimonial__wrapper {
    display: flex;
    gap: 0.625rem;
    margin-bottom: 1.5rem; }
  .testimonial__pfp {
    width: 5.6875rem;
    border-radius: 50%; }
  .testimonial__info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonial__paragraph {
    font-size: 1rem;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0 0 2rem 0; }

.why {
  background: var(--tertiary-color); }
  .why__image {
    padding: 5rem 1.25rem 0 1.25rem;
    background: var(--secondary-color);
    margin-bottom: 1.125rem; }
  .why__airplane, .why__tag {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    margin-bottom: -1rem; }
  .why__icon {
    width: 3.9375rem;
    height: 3.9375rem; }
  .why__airplane {
    width: 58.0625rem; }
  .why__tag {
    width: 26.0625rem; }
  .why__content {
    padding-top: 1.875rem;
    padding: 0 1.25rem;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .why__content {
        max-width: var(--headerMaxContent); } }
  .why__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    margin-top: 1.125rem;
    background: rgba(232, 232, 232, 0.5); }
    .why__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .why__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 1.125rem 0; }
  .why__paragraph {
    font-family: "Krub";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.125rem; }
  .why__feature {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.125rem; }
  .why__subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--primary-font-color); }

.team {
  padding: 5.9375rem 1.25rem 6.3125rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1200px) {
    .team {
      max-width: var(--headerMaxContent);
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto; } }
  .team__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 2.5rem 0; }
  .team__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    background: rgba(232, 232, 232, 0.5); }
    .team__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .team__icon {
    width: 1.375rem;
    height: 1.0625rem;
    vertical-align: bottom; }
  .team__icon--invert {
    filter: invert(1); }
  .team__member {
    width: 22.75rem;
    max-width: 100%;
    height: auto;
    vertical-align: bottom; }
  .team__card {
    position: relative; }
  .team__profile {
    background: var(--primary-font-color);
    padding: 1.875rem 1.25rem; }
  .team__container {
    display: flex;
    flex-direction: column;
    gap: 1.125rem; }
  .team__socials {
    position: absolute;
    right: 0;
    bottom: 6.75rem;
    display: flex;
    align-items: center;
    gap: 1.5625rem;
    width: fit-content;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
    padding: 1.25rem 1.0625rem; }
  .team__name {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff; }
  .team__role {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff; }

.contact {
  background: var(--secondary-color); }
  .contact__icon {
    width: 3.9375rem;
    height: 3.9375rem; }
  .contact__wrapper {
    padding: 8.9375rem 1.25rem 4.375rem 1.25rem;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .contact__wrapper {
        max-width: var(--headerMaxContent); } }
  .contact__info {
    gap: 1.875rem;
    margin-bottom: 2rem; }
  .contact__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    margin: 0 0 0.8125rem 0;
    color: white; }
    .contact__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .contact__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 0.1875rem 0;
    color: white; }
  .contact__paragraph {
    font-size: 1rem;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
    color: white; }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.75rem; }
  .contact__group {
    display: flex;
    flex-direction: column;
    gap: 1.9375rem;
    margin-bottom: 1.9375rem; }
  .contact__input, .footer__input, .contact__textarea {
    height: 9.625rem; }
    .contact__input::placeholder, .footer__input::placeholder, .contact__textarea::placeholder {
      font-size: 1.25rem;
      line-height: 1.125rem;
      font-weight: 400;
      font-family: "League Spartan", sans-serif; }
  .contact__input, .footer__input {
    width: 100%;
    padding: 1.3125rem 0 1.3125rem 1.875rem;
    height: 3.75rem;
    border: 1px solid #4e5683;
    background: transparent;
    color: white; }
    .contact__input::placeholder, .footer__input::placeholder {
      color: white; }
  .contact__submit {
    font-weight: 600;
    line-height: 1.375rem;
    color: #23212a;
    padding: 1.1875rem 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
    padding: 1.1875rem 2.125rem; }
  .contact__textarea {
    min-width: 100%;
    padding: 1.3125rem 0 1.3125rem 1.875rem;
    border: 1px solid #4e5683;
    background: transparent;
    margin-bottom: 1.9375rem;
    color: white; }
    .contact__textarea::placeholder {
      color: white; }
    .contact__textarea::-webkit-scrollbar {
      display: none; }
  .contact__clients {
    padding: 0 1.25rem;
    padding-bottom: 8.9375rem; }
    @media (min-width: 1200px) {
      .contact__clients {
        max-width: var(--headerMaxContent);
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto; } }
  .contact__image {
    width: 18.8125rem;
    height: auto;
    vertical-align: bottom; }

.blog {
  padding: 6.125rem 1.25rem 6.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1200px) {
    .blog {
      max-width: var(--headerMaxContent);
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto; } }
  .blog__icon {
    width: 3.1875rem;
    height: 3.5rem; }
  .blog__link:hover {
    color: var(--primary-color); }
  .blog__topper {
    display: inline-flex;
    min-height: 1.1875rem;
    gap: 0.5625rem;
    padding: 0.1875rem 0.5625rem;
    font-size: 0.875rem;
    font-family: "Rubik", sans-serif;
    background: rgba(4, 28, 55, 0.5);
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
    background: rgba(232, 232, 232, 0.5); }
    .blog__topper::before {
      content: "";
      position: absolute;
      left: -0.25rem;
      display: inline-block;
      background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
      width: 0.25rem;
      height: 1.4375rem; }
  .blog__title {
    color: var(--primary-font-color);
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.5625rem;
    font-family: "Rubik", sans-serif;
    margin: 0 0 2.1875rem 0;
    margin-bottom: 2.4375rem; }
  .blog__article {
    padding-top: 1.8125rem;
    padding-bottom: 2.1875rem; }
  .blog__more {
    display: none; }
  .blog__image {
    width: 28.3125rem;
    vertical-align: bottom;
    margin-bottom: 1.25rem; }
  .blog__day {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.9375rem;
    color: var(--primary-font-color); }
  .blog__month {
    font-size: 1rem;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    font-weight: 500;
    margin: unset; }
  .blog__wrapper {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.25rem; }
  .blog__date {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .blog__subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    color: var(--primary-font-color);
    font-weight: 400;
    margin-bottom: 1rem; }
  .blog__paragraph {
    font-size: 1rem;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0 0 1.125rem 0; }
  .blog__list {
    font-weight: 500;
    line-height: 1.6875rem;
    color: var(--primary-font-color);
    margin-bottom: 1.5rem;
    list-style: disc;
    margin-left: 1.25rem; }

.footer {
  background: #091242; }
  .footer__cta {
    position: relative; }
  .footer__social {
    width: 1.25rem; }
  .footer__icon {
    width: 3.9375rem; }
  .footer__faded {
    min-height: 7.375rem;
    background: rgba(255, 255, 255, 0.08); }
  .footer__logo {
    width: 13.125rem;
    padding-bottom: calc(2.75rem - 0.614375rem); }
  .footer__content {
    padding: 2.6875rem 1.25rem;
    margin-top: -7.375rem; }
  .footer__paragraph {
    margin-top: 2.4375rem;
    max-width: 19.9375rem;
    font-size: 1rem;
    color: #e8e8e8;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 2.4375rem 0 2.0625rem 0; }
  .footer__contact {
    gap: 1.875rem;
    margin-bottom: 2.0625rem; }
  .footer__title {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: #fff;
    padding: 2.75rem 0 2.75rem 0; }
  .footer__item {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
    color: #fff; }
  .footer__sbs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9375rem; }
  .footer__socials {
    display: flex;
    align-content: center;
    gap: 1.5rem; }
  .footer__credits {
    border-top: 1px solid #4e5683;
    padding: 0.9735rem 1.25rem; }
  .footer__copyright {
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    line-height: 2.5rem; }
  .footer__item--faded {
    color: #8388a7; }
  .footer__input::placeholder {
    color: #8388a7; }
  .footer__wrapper--nav {
    display: flex;
    gap: 1.25rem; }

@media only screen and (max-width: 767px) {
  .home {
    background-image: url("/assets/imgs/Ship-700.webp"); } }
@media only screen and (min-width: 768px) {
  .home {
    background-image: url("/assets/imgs/Ship.webp"); }

  .header__contact, .contact__info, .footer__contact {
    flex-direction: row; }

  .nav__hamburger {
    margin: 0 0 0 auto;
    padding-right: 1rem; }
  .nav__socials {
    display: none; }
  .nav__socials--tablet {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 1rem; }

  .services__container {
    flex-flow: row wrap;
    justify-content: center; }
  .services__service {
    width: 45%; }

  .about__right {
    position: relative; }
  .about__image {
    max-width: unset; }
    .about__image--over {
      width: unset; }
  .about__image--over {
    position: absolute;
    padding: 1.5rem;
    background: white;
    top: 14.8125rem;
    left: 0; }
  .about__stats {
    margin: 7rem 5.375rem 0 5.375rem;
    flex-direction: row;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4; }
  .about__packages, .about__clients {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2.875rem 0rem 2.375rem 0rem;
    margin-bottom: 0; }
  .about__packages {
    padding-right: 1.25rem; }
  .about__clients {
    border-left: 1px solid #d4d4d4;
    padding-left: 1.25rem; }
  .about__description {
    display: flex;
    gap: 1rem;
    align-items: center; }

  .project__container {
    flex-flow: row wrap;
    justify-content: center; }

  .why__features {
    display: flex;
    flex-wrap: wrap; }
  .why__feature {
    width: 50%; }
  .why__wrapper {
    position: relative; }
  .why__tag {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

  .contact__group {
    display: flex;
    flex-direction: row;
    gap: 1.9375rem;
    margin-bottom: 1.9375rem; }
  .contact__textarea {
    padding-left: 1.5rem;
    padding-bottom: 7.1875rem;
    width: 100%;
    min-width: unset; }
  .contact__submit {
    display: block; }
  .contact__paragraph {
    max-width: 28.125rem; }
  .contact__clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }

  .footer__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0; }
  .footer__contact {
    flex-direction: column;
    padding-left: 2.6875rem; }
  .footer__container {
    padding-top: 2.6875rem;
    padding-left: 2.6875rem;
    background: #091242; }
  .footer__wrapper {
    width: 50%; }
    .footer__wrapper--nav {
      gap: 8.75rem;
      padding: 2.6875rem 2.6875rem 0 2.6875rem; }
  .footer__form {
    padding-left: 2.6875rem; }
  .footer__title {
    padding-top: 0; }
  .footer__list {
    margin-top: 2.4375rem; }
  .footer__group {
    display: flex;
    gap: 1.25rem; }
  .footer__sbs {
    flex-direction: row;
    align-items: center; } }
@media only screen and (min-width: 1024px) {
  .header__topbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.875rem 1.25rem; }
  .header__contact, .contact__info, .footer__contact {
    gap: 2.4375rem; }

  .nav__hamburger {
    display: none; }
  .nav__right {
    display: flex;
    background: transparent;
    padding-bottom: 0; }
  .nav__content {
    overflow: visible; }
  .nav__socials {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    margin-right: 3.125rem; }
  .nav__page--dropdown:hover .nav__dropdown--icon {
    transform: rotate(180deg); }
  .nav__page--dropdown:hover .nav__dropdown--menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.0625rem; }
  .nav__dropdown--menu::before {
    display: none; }
  .nav__dropdown--menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.0625rem; }
  .nav__socials--tablet {
    display: none; }
  .nav__mobile .nav__cta {
    display: none; }
  .nav__content {
    height: 4.875rem;
    flex-direction: row;
    position: unset;
    background: unset;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem; }
  .nav__pages {
    flex-direction: row;
    padding: 0;
    gap: 0; }
  .nav__page:not(:first-child) > ::before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 1.875rem;
    height: 1.1875rem; }
  .nav__link {
    padding-right: 1.875rem; }

  .about__background {
    height: auto;
    vertical-align: bottom; }
  .about__image--over {
    top: 18.75rem; }
  .about__container {
    display: flex;
    justify-content: space-between;
    padding: 5.3125rem 5.375rem; }
  .about__right {
    display: flex;
    flex-direction: column; }

  .testimonial__right, .testimonial__left {
    width: 2.75rem; }
  .testimonial__intro {
    flex-direction: row;
    margin-bottom: 2.5rem; }
  .testimonial__controller {
    display: flex;
    align-items: flex-end;
    gap: 0.5625rem; }
  .testimonial__users {
    flex-direction: row;
    gap: 0; }
  .testimonial__review {
    min-width: 50%;
    padding: 3.75rem; }
  .testimonial__profile {
    display: flex;
    justify-content: space-between; }
  .testimonial__quote {
    display: block; }
  .testimonial__title {
    margin-bottom: 0; }
  .testimonial__review--blue {
    background: #091242; }
    .testimonial__review--blue .testimonial__paragraph,
    .testimonial__review--blue .testimonial__name,
    .testimonial__review--blue .testimonial__role {
      color: #fff; }

  .why__wrapper {
    display: flex;
    justify-content: center; }

  .team__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

  .contact__container {
    margin-right: 5.5rem; }
  .contact__wrapper {
    display: flex; }
  .contact__info {
    display: flex;
    flex-direction: column; }
  .contact__container {
    max-width: 22.0625rem;
    width: 100%; }
  .contact__input, .footer__input {
    max-width: 22.8125rem; }
  .contact__textarea {
    max-width: 47.375rem; }
  .contact__clients {
    flex-flow: row nowrap; }

  #contact__form {
    padding-top: 2.625rem;
    width: 100%; }

  .blog__article {
    display: flex;
    border-top: 1px solid #d6d6d6; }
  .blog__container {
    display: flex; }
  .blog__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0 1.25rem;
    margin-bottom: 0; }
  .blog__content {
    max-width: 22.75rem;
    padding-left: 1.8125rem;
    border-left: 1px solid #d6d6d6; }
  .blog__image {
    margin-bottom: 0; }
  .blog__picture {
    position: relative; }
    .blog__picture:hover .blog__more {
      visibility: visible; }
  .blog__picture--first .blog__more {
    height: calc(100% - 5rem); }
  .blog__more {
    position: absolute;
    display: block;
    visibility: hidden;
    width: calc(100% - 5rem);
    margin: 2.5rem;
    height: calc(100% - 6.5rem);
    background: rgba(28, 31, 53, 0.91);
    left: 0;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center; } }
@media only screen and (min-width: 1300px) {
  .header__topbar--content {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.875rem 0rem; }
  .header__contact, .contact__info, .footer__contact {
    gap: 2.4375rem;
    margin-bottom: 0; }

  .nav__content {
    padding: 0; }

  .services {
    flex-direction: row;
    gap: 2.0625rem; }
    .services__container {
      row-gap: 4.375rem;
      column-gap: 5.1875rem; }
    .services__title {
      width: 18.375rem; }
    .services__service {
      flex-direction: row;
      align-items: flex-start; }
    .services__content {
      position: relative;
      padding-left: 1.875rem; }
      .services__content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-left: 1px solid #d8d8d8;
        height: 90%; }
    .services__image {
      min-width: 5.25rem; }
    .services__subtitle {
      text-align: left; }
    .services__paragraph {
      text-align: left; }

  .about__image--over {
    right: 16.4375rem;
    left: unset; }
  .about__stats {
    margin: 7rem 5.375rem 0 5.375rem; }

  .testimonial__review {
    padding: 3.875rem 4.5rem; }

  .why {
    display: flex; }
    .why__image {
      min-width: 50%;
      padding: 8.875rem 0 9.0625rem 8.75rem;
      display: flex;
      align-items: center;
      margin-bottom: 0; }
    .why__content {
      padding: 12.5rem 0 12.5rem 10.125rem; }
    .why__airplane, .why__tag {
      margin-left: 6.8125rem; }

  .team__container {
    gap: 3.375rem; }
  .team__profile {
    padding: 2.625rem 0 1.25rem 2.125rem; }
  .team__socials {
    bottom: calc(6.75rem - 1.9375rem); }

  .contact__wrapper {
    display: flex;
    padding: 8.9735rem 0 4.375rem 0; }
  .contact__info {
    gap: 1.875rem; }

  .footer__content {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto; }
  .footer__container {
    max-width: 26.6875rem; }
  .footer__wrapper {
    width: unset; }
    .footer__wrapper--credits {
      width: 100%;
      margin: 0 auto;
      padding-left: 2.6875rem;
      max-width: 75rem;
      display: flex;
      justify-content: space-between; }
  .footer__form {
    padding-top: 2.6875rem; }

  #footer__form {
    padding-top: 2.5625rem; } }
@media only screen and (min-width: 1600px) {
  .project__container {
    flex-flow: row nowrap; }

  .why__content {
    padding-right: 15.3125rem; } }

/*# sourceMappingURL=home.css.map */
