@import "base";
@import "mixins";

.header {
  background-color: var(--secondary-color);
  &__topbar {
    max-width: var(--headerMaxContent);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;
    gap: 1rem;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
  }
  &__item {
    display: flex;
    gap: 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.1875rem;
  }
}

.nav {
  background: rgba(9, 18, 66, 0.25);
  position: absolute;
  z-index: 1;
  width: 100%;
  &__content {
    max-width: var(--headerMaxContent);
    margin: 0 auto;
    position: absolute;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: var(--secondary-color);
    top: 3.6875rem;
    padding-top: 0;
    height: 0;
    margin-top: 1.2rem;
    transition: height 0.3s, padding-top 0.3s, top 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &.open {
      height: 24.25rem;
      z-index: 100;
    }
  }
  &__pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__page {
    font-weight: 500;
    height: 100%;
    line-height: 1.1875rem;
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    &.active {
      border-bottom: 1px solid white;
    }
    color: white;
  }
  &__socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  &__cta {
    display: inline-block;
    padding: 1.75rem 3.25rem;
    width: 13.5rem;
    height: 4.875rem;
    background: #ffffff;
    color: #23212a;
    line-height: 1.375rem;
    font-weight: 600;
    &:last-child {
      display: block;
      margin: 0 auto;
    }
  }
  &__hamburger {
    display: block;
    margin: 0 auto;
  }
  &__mobile {
    display: flex;
  }
  &__socials--tablet {
    display: none;
  }
}

.home {
  min-height: calc(100vh - 9.6875rem);
  background-size: cover;
  background-position: 50% 50%;
  &__container {
    @include container(10.8125rem 1.25rem);
    color: white;
  }
  &__topper {
    @include topper();
  }
  &__title {
    font-size: clamp(2.125rem, 6vw, 3.75rem);
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    max-width: 34.625rem;
    margin-bottom: 0.375rem;
  }
  &__paragraph {
    max-width: 34.625rem;
    margin-bottom: 2.6875rem;
  }
  &__cta {
    font-weight: 600;
    line-height: 1.375rem;
    color: #23212a;
    padding: 1.1875rem 3rem;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(
      94.06deg,
      #ffb629 -1.21%,
      #ffda56 58.66%,
      #ffd7a6 116.84%
    );
    &::after {
      content: "";
      top: 0;
      right: -32px;
      position: absolute;
      width: 68px;
      height: 105.09px;
      background: #fff;
      transform: rotate(23.72deg);
      border-top-left-radius: 260px;
      transition: all 0.35s ease-in-out;
    }
    &:hover {
      &::after {
        right: 0;
        width: 100%;
        height: 100%;
        transform: rotate(0);
        border-top-left-radius: 0;
      }
    }
  }
  &__text {
    position: relative;
    z-index: 1;
  }
}

.services {
  @include container(6rem 1.25rem 7.5625rem 1.25rem);
  display: flex;
  flex-flow: column nowrap;
  &__topper {
    @include topper();
  }
  &__title {
    font-size: 2.1875rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    max-width: 18.375rem;
  }
  &__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
  }
  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    & * {
      margin-bottom: 0.8125rem;
    }
  }
  &__subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    color: var(--primary-font-color);
    line-height: 1.875rem;
    text-align: center;
  }
  &__paragraph {
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--secondary-font-color);
    text-align: center;
  }
}

.about {
  &__background {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  &__content {
    @include container($margin: -5rem auto 0 auto);
    margin: -5rem auto 0 auto;
    position: relative;
  }
  &__container {
    background: white;
    @include textContainer(1.875rem 1.25rem 0 1.25rem);
  }
  &__left {
    & * {
      margin-bottom: 0.75rem;
    }
  }
  &__topper {
    @include topper();
    margin-bottom: 0.75rem;
  }
  &__title {
    font-size: 2.1875rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    line-height: 2.5625rem;
    color: var(--primary-font-color);
    max-width: 29.5rem;
  }
  &__paragraph {
    font-weight: 500;
    color: var(--secondary-font-color);
    line-height: 1.5rem;
    &:last-of-type {
      margin-bottom: 1.5625rem;
    }
    max-width: 29.5rem;
  }
  &__feature {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__subtitle {
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    color: var(--primary-font-color);
  }
  &__image {
    width: 100%;
    height: auto;
    max-width: 21.875rem;
  }
  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem;
  }
  &__counter {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 3.6875rem;
    font-family: "Rubik", sans-serif;
    color: var(--primary-font-color);
  }
  &__packages,
  &__clients {
    margin-bottom: 0.8125rem;
  }
  &__packages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: var(--primary-font-color);
    font-family: "League Spartan", sans-serif;
    &::before {
      content: "";
      display: block;
      margin: 1rem auto;
      width: 17px;
      height: 17px;
      background: linear-gradient(
        94.06deg,
        #ffb629 -1.21%,
        #ffda56 58.66%,
        #ffd7a6 116.84%
      );
    }
  }
  &__image--over {
    margin-bottom: 0.8125rem;
  }
  &__content {
    padding-bottom: 6.0625rem;
  }
}

@media (max-width: 767px) {
  .home {
    background-image: url("/assets/imgs/Ship-700.webp");
  }
}

@media only screen and (min-width: 768px) {
  .home {
    background-image: url("/assets/imgs/Ship.webp");
  }
  .nav {
    &__hamburger {
      margin: 0 0 0 auto;
      padding-right: 1rem;
    }
    &__socials {
      display: none;
    }
    &__socials--tablet {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding-left: 1rem;
    }
  }
  .services {
    &__container {
      flex-flow: row wrap;
      justify-content: center;
    }
    &__service {
      width: 45%;
    }
  }
  .about {
    &__right {
      position: relative;
    }
    &__image {
      width: unset;
      max-width: unset;
    }
    &__image--over {
      position: absolute;
      padding: 1.5rem;
      background: white;
      top: 237px;
      left: 0;
    }
    &__stats {
      margin: 7rem 5.375rem 0 5.375rem;
      flex-direction: row;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
    }
    &__packages,
    &__clients {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      padding: 2.875rem 0rem 2.375rem 0rem;
      margin-bottom: 0;
    }
    &__packages {
      padding-right: 1.25rem;
    }
    &__clients {
      border-left: 1px solid #d4d4d4;
      padding-left: 1.25rem;
    }
    &__description {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    &__contact {
      flex-direction: row;
    }
    &__topbar {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.875rem 1.25rem;
    }
    &__contact {
      gap: 2.4375rem;
    }
  }
  .nav {
    &__hamburger {
      display: none;
    }
    &__right {
      display: flex;
    }
    &__socials {
      display: flex;
      margin-bottom: 0;
      align-items: center;
      margin-right: 3.125rem;
    }
    &__socials--tablet {
      display: none;
    }
    &__mobile {
      .nav__cta {
        display: none;
      }
    }
    &__content {
      height: 4.875rem;
      flex-direction: row;
      position: unset;
      background: unset;
      margin-top: 0;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.25rem;
    }
    &__pages {
      flex-direction: row;
      gap: 1.875rem;
    }
    &__page {
      &:not(:first-child) {
        ::before {
          content: "";
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          padding-left: 1.875rem;
          height: 1.1875rem;
        }
      }
    }
  }
  .about {
    &__background {
      height: auto;
    }
    &__image {
      width: unset;
      &--over {
        top: 300px;
      }
    }
    &__container {
      display: flex;
      justify-content: space-between;
      padding: 5.3125rem 5.375rem;
    }
    &__right {
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .header {
    &__topbar--content {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.875rem 0rem;
    }
    &__contact {
      gap: 2.4375rem;
    }
  }
  .nav {
    &__content {
      padding: 0;
    }
  }
  .services {
    flex-direction: row;
    gap: 2.0625rem;
    &__container {
      row-gap: 4.375rem;
      column-gap: 5.1875rem;
    }
    &__title {
      width: 18.375rem;
    }
    &__service {
      flex-direction: row;
      align-items: flex-start;
    }
    &__content {
      position: relative;
      padding-left: 1.875rem;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-left: 1px solid #d8d8d8;
        height: 90%;
      }
    }
    &__image {
      min-width: 5.25rem;
    }
    &__subtitle {
      text-align: left;
    }
    &__paragraph {
      text-align: left;
    }
  }
  .about {
    &__image--over {
      right: 263px;
      left: unset;
    }
    &__stats {
      margin: 7rem 5.375rem 0 5.375rem;
    }
  }
}
